<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.com.qallarix.movistarcontigo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/contigo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_round_contigo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ambassador.registered.AmbassadorRegisteredActivity"></activity>
        <activity
            android:name=".notificacion.NotificacionesActivity"
            android:parentActivityName=".principal.MainActivity"
            android:screenOrientation="portrait" />

        <service android:name=".notificacion.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_contigo" />
        </service>

        <activity android:name=".util.TranquiParentActivity" />

        <!-- - - - - - - - Módulo Autenticación - - - - - - -->
        <activity
            android:name=".autenticacion.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".autenticacion.LoginActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".autenticacion.TerminosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".autenticacion.VerificacionActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".autenticacion.BienvenidoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".autenticacion.AccountActivity"
            android:screenOrientation="portrait" />
        <!-- - - - - - - - - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - Main Activity - Dashboard - - - - -->
        <activity
            android:name=".principal.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- - - - - - - - - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - Módulo Descuentos - - - - - - - -->
        <activity
            android:name=".descuentos.DescuentosActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".principal.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".descuentos.DetalleDescuentoActivity"
            android:parentActivityName=".descuentos.DescuentosActivity"
            android:screenOrientation="portrait" />
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - Módulo Salud - - - - - - - - - -->
        <activity
            android:name=".salud.SaludActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".principal.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".salud.DetalleSaludActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".salud.SaludActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".salud.PdfActivity" />
        <!-- - - - - - - - - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - Módulo Beneficios Especiales - - - - - - -->
        <activity
            android:name=".especiales.EspecialesActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".principal.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".especiales.DetalleEspecialActivity"
            android:parentActivityName=".especiales.EspecialesActivity"
            android:screenOrientation="portrait" />
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - Módulo Embajador - - - - - - - - - - -->
        <activity
            android:name=".ambassador.AmbassadorChannelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ambassador.breaks.AmbassadorBreaksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ambassador.questions.AmbassadorQuestionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ambassador.mobile.AmbassadorMobileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ambassador.home.AmbassadorHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ambassador.total.EmbajadorMovistarTotalActivity"
            android:screenOrientation="portrait" />
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - Módulo Noticia - - - - - - - -->
        <activity
            android:name=".noticias.DetalleNoticiaActivity"
            android:parentActivityName=".principal.MainActivity"
            android:screenOrientation="portrait" />
        <!-- - - - - - - - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - Módulo Vacaciones - - - - - -->
        <activity
            android:name=".vacaciones.VacacionesActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".principal.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vacaciones.AcercaActivity"
            android:parentActivityName=".vacaciones.VacacionesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vacaciones.aprobacion.FinalizarAprobacionActivity"
            android:parentActivityName=".vacaciones.aprobacion.AprobacionVacacionesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vacaciones.aprobacion.DetalleAprobacionActivity"
            android:parentActivityName=".vacaciones.aprobacion.AprobacionVacacionesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vacaciones.pendientes.DetalleEstadoVacacionesActivity"
            android:parentActivityName=".vacaciones.pendientes.PendientesVacacionesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vacaciones.registro.FinalizarRegistroActivity"
            android:parentActivityName=".vacaciones.VacacionesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vacaciones.registro.RegistroVacacionesActivity"
            android:parentActivityName=".vacaciones.VacacionesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vacaciones.pendientes.PendientesVacacionesActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".vacaciones.VacacionesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vacaciones.aprobacion.AprobacionVacacionesActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".vacaciones.VacacionesActivity"
            android:screenOrientation="portrait" />

        <!-- - - - - - - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - Módulo FlexPlace - - - - - - -->
        <activity
            android:name=".flexplace.FlexplaceActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".principal.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.AboutFlexPlaceActivity"
            android:parentActivityName=".flexplace.FlexplaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.register.RegistrarFlexPlaceActivity"
            android:parentActivityName=".flexplace.FlexplaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.history.HistoryFlexPlaceActivity"
            android:parentActivityName=".flexplace.FlexplaceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.forapprove.ForApproveFlexPlaceActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".flexplace.FlexplaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.myteam.MyTeamFlexPlaceActivity"
            android:parentActivityName=".flexplace.FlexplaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.forapprove.ForApproveFlexFinishNotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.forapprove.ForApproveFlexAwaitingDetailActivity"
            android:parentActivityName=".flexplace.forapprove.ForApproveFlexPlaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.forapprove.ForApproveFlexFinishProcessActivity"
            android:parentActivityName=".flexplace.FlexplaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.forapprove.ForApproveFlexRejectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.forapprove.ForApproveFlexRequestDetailActivity"
            android:parentActivityName=".flexplace.forapprove.ForApproveFlexPlaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.history.HistoryFlexFinishCancelActivity"
            android:parentActivityName=".flexplace.history.HistoryFlexPlaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.history.HistoryFlexCancelActivity"
            android:parentActivityName=".flexplace.history.HistoryFlexPlaceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".flexplace.history.HistoryFlexDetailActivity"
            android:parentActivityName=".flexplace.history.HistoryFlexPlaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.register.FinalizarRegistroFlexActivity"
            android:parentActivityName=".flexplace.FlexplaceActivity"
            android:screenOrientation="portrait" />
        <!-- - - - - - - - - - - - - - - - - - - - - - - -->
        <activity
            android:name=".openlearning.CategoriasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".openlearning.DetalleEstudioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".openlearning.OpenLearningActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>