<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.com.qallarix.movistarcontigo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/contigo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_round_contigo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ambassador.registered.AmbassadorRegisteredActivity" />
        <activity
            android:name=".notifications.NotificacionesActivity"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />

        <service android:name=".notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_contigo" />
        </service>

        <activity android:name=".util.TranquiParentActivity" /> <!-- - - - - - - - Módulo Autenticación - - - - - - -->
        <activity
            android:name=".autentication.splash.SplashActivityView"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".autentication.login.LoginActivityView"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".autentication.TermsActivityView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".autentication.verification.VerificationActivityView"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".autentication.welcome.WelcomeActivityView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".autentication.account.AccountActivityView"
            android:screenOrientation="portrait" /> <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
        <!-- - - - - - - Main Activity - Dashboard - - - - -->
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
        <!-- - - - - - - - - - Módulo Descuentos - - - - - - - -->
        <activity
            android:name=".discounts.DescuentosActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".discounts.DetalleDescuentoActivity"
            android:parentActivityName=".discounts.DescuentosActivity"
            android:screenOrientation="portrait" /> <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!-- - - - - - - - - Módulo Salud - - - - - - - - - -->
        <activity
            android:name=".health.HealthActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".health.HealthDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".health.HealthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".health.PdfActivity" /> <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
        <!-- - - - - - - - Módulo Beneficios Especiales - - - - - - -->
        <activity
            android:name=".specials.SpecialsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".specials.SpecialDetailActivity"
            android:parentActivityName=".specials.SpecialsActivity"
            android:screenOrientation="portrait" /> <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!-- - - - - - - - - - - Módulo Embajador - - - - - - - - - - -->
        <activity
            android:name=".ambassador.AmbassadorChannelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ambassador.breaks.AmbassadorBreaksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ambassador.questions.AmbassadorQuestionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ambassador.mobile.AmbassadorMobileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ambassador.home.AmbassadorHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ambassador.total.AmbassadorTotalActivity"
            android:screenOrientation="portrait" /> <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!-- - - - - - - - Módulo Noticia - - - - - - - -->
        <activity
            android:name=".news.NewsDetailActivity"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" /> <!-- - - - - - - - - - - - - - - - - - - - - - - -->
        <!-- - - - - - - - Módulo Vacaciones - - - - - -->
        <activity
            android:name=".vacations.VacationsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vacations.AboutVacationsActivity"
            android:parentActivityName=".vacations.VacationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vacations.forapprove.ForApproveFinishActivity"
            android:parentActivityName=".vacations.forapprove.ForApproveVacationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vacations.forapprove.ForApproveDetailActivity"
            android:parentActivityName=".vacations.forapprove.ForApproveVacationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vacations.pendings.PendingRequestsDetailActivity"
            android:parentActivityName=".vacations.pendings.PendingRequestsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vacations.register.RegisterVacationsFinishActivity"
            android:parentActivityName=".vacations.VacationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vacations.register.RegisterVacationsActivity"
            android:parentActivityName=".vacations.VacationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vacations.pendings.PendingRequestsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".vacations.VacationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vacations.forapprove.ForApproveVacationsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".vacations.VacationsActivity"
            android:screenOrientation="portrait" /> <!-- - - - - - - - - - - - - - - - - - - - - - -->
        <!-- - - - - - - - Módulo FlexPlace - - - - - - -->
        <activity
            android:name=".flexplace.FlexplaceActivity"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.AboutFlexPlaceActivity"
            android:parentActivityName=".flexplace.FlexplaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.register.RegistrarFlexPlaceActivity"
            android:parentActivityName=".flexplace.FlexplaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.history.HistoryFlexPlaceActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".flexplace.FlexplaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.forapprove.ForApproveFlexPlaceActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".flexplace.FlexplaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.myteam.MyTeamFlexPlaceActivity"
            android:parentActivityName=".flexplace.FlexplaceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.forapprove.ForApproveFlexFinishNotificationActivity"
            android:parentActivityName=".flexplace.forapprove.ForApproveFlexPlaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.forapprove.ForApproveFlexAwaitingDetailActivity"
            android:parentActivityName=".flexplace.forapprove.ForApproveFlexPlaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.forapprove.ForApproveFlexFinishProcessActivity"
            android:parentActivityName=".flexplace.forapprove.ForApproveFlexPlaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.forapprove.ForApproveFlexRejectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.forapprove.ForApproveFlexRequestDetailActivity"
            android:parentActivityName=".flexplace.forapprove.ForApproveFlexPlaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.history.HistoryFlexFinishCancelActivity"
            android:parentActivityName=".flexplace.history.HistoryFlexPlaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.history.HistoryFlexCancelActivity"
            android:parentActivityName=".flexplace.history.HistoryFlexPlaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.history.HistoryFlexDetailActivity"
            android:parentActivityName=".flexplace.history.HistoryFlexPlaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flexplace.register.FinalizarRegistroFlexActivity"
            android:parentActivityName=".flexplace.FlexplaceActivity"
            android:screenOrientation="portrait" /> <!-- - - - - - - - - - - - - - - - - - - - - - - -->
        <activity
            android:name=".openlearning.CategoriasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".openlearning.DetalleEstudioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".openlearning.OpenLearningActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>